html, body{
    margin:0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.bgimage{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(Images/beans.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.caixa {
    background-color: burlywood;
    font-size: 14px;
    margin: 2% 32% 2% 32%;
    text-align: center;    
    padding: 15px 0px  20px  0px;
    }
hr{
    width: 95%;
    border: 1.5px solid brown;
    }
    
h1{
    font-size: 32px;
}
h2{
    font-size: 25px;
    padding-top: 10px;
}
h1 ,h2{
    font-family: Impact, sans-serif;
    margin: 0%;
}
table{
    font-size: 16px;
    table-layout: fixed;
    width: 100%;
    padding-bottom: 20px;
    }
td{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    display: table-cell;
}
.website{
    text-decoration: underline;
    font-size: 12px;
}
.rowleft{
    text-align: right;
}
p{
    font-size: 14px;
}
address{
    font-size: 12px;
}